
<div *appCustomDirective="!isLogin" class="bg-linear font-sans text-white h-[100vh] flex flex-col m-auto justify-center items-center">
    <h1 class="text-[28px]">Welcome to New Angular Homework!</h1>
    <h1 class="text-[28px]">Please log in to see the content inside.</h1>
    <button class="loginBtn px-6 py-3 rounded-md mt-4" (click)="navigator()">Login</button>
  </div>

<ng-container *appCustomDirective="isLogin">
    <app-parent (isLogin)="getFromLogoutBtn($event)"></app-parent>
</ng-container>